*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid green;
    border-radius: 5px;
    width: 100vw;
    height: 15vh;
}
sup{
    color: red;
}
h3 :hover{
    color: blue;
}

 .navbar{
    display: flex;
    align-items: center;
 }
.n1{
    padding: 10px;
}

.asidewitharticle{
    display: flex;
}
aside{
    width: 30vw;
    height: 70vh;
    background-color: green;
}
article{
    width: 70vw;
    height: 70vh;
    background-color: gold;
}
footer{
    width: 100vw;
    height:15vh ;
    background-color: rgba(73, 65, 65, 0.662);
    display: flex;
    justify-content: space-around;
    align-items: center;

}