*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* p{
    text-align: center;

} */
 /* p{
    text-decoration: underline wavy red;

 } */

 /* p{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
 } */

 /* p{
    text-transform: uppercase;
 } */
/* 
 h1{
    text-shadow: 2px 2px 5px grey;
 } */

 /* p{
    white-space: nowrap;
 } */

 /* div{
    overflow: auto;
 } */

 div{
    overflow-x: hidden;
    overflow-y: scroll;
 }